<template>
	<style>
		@import url("component/style.css");
		@import url("component/search-app/style.css");
	</style>
	<app-let>
		<input-addon class=header icon=search placeholder="&#129024; search" action-label=Search imperative size=50 maxlength=140 active>
			<click-reveal panel-selector=#search-drop-down></click-reveal>
		</input-addon>
		<div id=tab-box class=header>
			<do-tool trifecta icon="flag">Fields</do-tool>
			<do-tool trifecta icon="tag">Tags</do-tool>
			<do-tool trifecta icon="cubes">Builds</do-tool>
			<do-tool trifecta icon="map-marker">Maps</do-tool>
			<do-tool trifecta icon="archive">Packages</do-tool>
			<do-tool trifecta icon="bullhorn">Published</do-tool>
		</div>
		<content></content>
	</app-let>
</template>
