<template>
	<style>
		@import url("component/style.css");
		@import url("component/tabs-panel/style.css");
	</style>
	<tabs-bar>
		<content select=tab-head></content>
	</tabs-bar>
	<div id=tabs-panel> 
		<content select=tab-body></content>
	</div>
	<!-- modal box !-->
		<modal-box></modal-box>
	<!-- set first tab active !-->
		<op-fun immediate>
			<op-set target-parent=tabs-panel
				target="tab-head"
				attr=active>
			</op-set>
			<op-set target-parent=tabs-panel
				target="tab-body"
				attr=active>
			</op-set>
			<op-mv delay=1000 
				to-parent=main-app 
				to="omni-bar::shadow #omni_input[value]" property=to
				from-parent=main-app 
				from="tab-body[active]::shadow webview[src]"
			>
			</op-mv>
		</op-fun>
	<!-- interrupts !-->
		<op-int call-complete on=keydown event-object=~attached
			attach-parent=html
			no-default-if-event-true="ametaKey"
			>
				<op-set target-parent=body target=main-app
					attr=key-code
					value={{event-object.keyCode}}
					template-origin
					>
				</op-set>
				<op-set target-parent=body target=main-app
					attr=meta-key
					value={{event-object.metaKey}}
					template-origin
					>
				</op-set>
				<op-if condition-parent=body condition=main-app[meta-key] 
					condition-match="true"
					>
						<op-then>
							<op-if condition-parent=body condition=main-app[key-code]
								condition-match="87"
								>
									<!-- remove the tab !-->
									<op-then>
											<!-- first label the outgoing tab !-->
												<op-set multiple target-parent=tabs-panel
													target='[active]'
													attr=outgoing
													>
												</op-set>
											<!-- first move the active to the following tab !-->
												<op-mv remove from-parent=tabs-panel 
													from=tab-body[outgoing][active][active]
													to-parent=tabs-panel
													to='tab-body[active]~tab-body[active]'
													>
												</op-mv>
												<op-mv remove from-parent=tabs-panel
													from=tab-head[outgoing][active][active]
													to-parent=tabs-panel
													to='tab-head[active]~tab-head[active]'
													>
												</op-mv>
											<!-- then remove the element !-->
											<!-- then stop any navigation on the webview !-->
												<op-call target-parent=tabs-panel 
													target='tab-body[outgoing]::shadow webview'
													function=stop
													clear-null
													target-this
												>
												</op-call>
											<!-- finally remove the element !-->
												<op-remove multiple attach-parent=tabs-panel
													attach=[outgoing]
													>
												</op-remove>
											<!-- if there is no following tab move the active to the last of type !-->
												<op-if call-complete condition-parent=tabs-panel
													condition=tab-body[active][active]>
													<op-else>
														<op-set multiple target-parent=tabs-panel
															target="tab-body:last-of-type, tab-head:last-of-type"
															attr=active
															>
														</op-set>
													</op-else>
												</op-if>
											<!-- and advise the omni box about the uri of the newly active tab !-->
												<op-mv 
													to-parent=main-app 
													to="omni-bar::shadow #omni_input[value]" property=to
													from-parent=main-app 
													from="tab-body[active]::shadow webview[src]"
													>
												</op-mv>
									</op-then>	
							</op-if>
							<op-if condition-parent=body condition=main-app[key-code]
								condition-match="84"
								>
									<!-- insert a new tab !-->						
									<op-then>
											<!-- update the new tabid !-->
												<op-set increment target-parent=body
													target=tabs-panel
													attr=new-tabid
													value=1137>
												</op-set>
											<!-- create the tab head and tab body !-->
												<op-create _element=tab-head
													_attach-parent=body
													_attach=tabs-panel
													tabid={{new-tabid}}
												>
												</op-create>	
												<op-create _element=tab-body
													_attach-parent=body
													_make-debug
													_attach=tabs-panel
													tabid={{new-tabid}}
												>
												</op-create>	
											<!-- make the tab head and tab body the active ones !-->
												<op-mv create-ok remove from-parent=body
													from=tab-body[active][active]
													to-parent=body
													to='tab-body[tabid="{{new-tabid}}"][active]'
												>
												</op-mv>
												<op-mv create-ok remove from-parent=body
													from=tab-head[active][active]
													to-parent=body
													to='tab-head[tabid="{{new-tabid}}"][active]'
												>
												</op-mv>
												<op-mv delay=1000 
													to-parent=main-app 
													to="omni-bar::shadow #omni_input[value]" property=to
													from-parent=main-app 
													from="tab-body[active]::shadow webview[src]"
												>
												</op-mv>
									</op-then>
							</op-if>
						</op-then>
				</op-if>
		</op-int>
</template>
