<template>
	<style>
		@import url("component/style.css");
		@import url("component/tab-body/style.css");
	</style>
	<div id=tab-body>
		<!-- injecting scripts into the webview, and responding to events from the webview !-->
		<op-int on-attr=ready attach-parent=tab-body>
			<!-- advise on responsiveness !-->
				<op-int attach-execute call-complete on=responsive attach-parent=#tab-body attach=webview></op-int>
				<op-int attach-execute call-complete on=unresponsive attach-parent=#tab-body attach=webview></op-int>
			<!-- execute on load start to indicate loading !-->
				<op-int attach-execute on=loadstart
					attach-parent=#tab-body
					attach=webview
					>
						<op-set target-parent=tabs-panel
							target=tab-head[tabid="{{tabid}}"]
							attr=loading
							value=true
							>
						</op-set>
				</op-int>
			<!-- execute on load stop to indicate not loading !-->
				<op-int attach-execute on=loadstop 
					attach-parent=#tab-body
					attach=webview
					>
						<op-set target-parent=tabs-panel
							target=tab-head[tabid="{{tabid}}"]
							attr=loading
							value=false
							>
						</op-set>
				</op-int>
			<!-- close the tab on close event !-->
				<op-int attach-execute no-default call-complete on=close event-object=~attached
					attach-parent=#tab-body   
					attach=webview
					>
						<!-- first indicate the webview is closed !-->
							<op-set target-parent=tab-body
								target='::shadow webview'
								attr=closed
								>	
							</op-set>
						<!-- first move the active to the last element not equal to it !-->
							<op-mv remove from-parent=tabs-panel 
								from=tab-body[tabid="{{tabid}}"][active][active]
								to-parent=tabs-panel
								to='tab-body[active]~tab-body[active]'
								to-alternate='tab-body:not([active])[active]'>
							</op-mv>
							<op-mv remove from-parent=tabs-panel
								from=tab-head[tabid="{{tabid}}"][active][active]
								to-parent=tabs-panel
								to='tab-head[active]~tab-head[active]'
								to-alternate='tab-head:not([active])[active]'>
							</op-mv>
						<!-- then stop any navigation on the webview !-->
							<op-call target-parent=tabs-panel
								target='tab-body[tabid="{{tabid}}"]::shadow webview'
								function=stop
								clear-null
								target-this>
							</op-call>
						<!-- finally remove the element !-->
							<op-remove multiple attach-parent=tabs-panel
								attach=[tabid="{{tabid}}"]>
							</op-remove>
				</op-int>
			<!-- advise title !-->
				<op-int attach-execute call-complete on=consolemessage event-object=~attached
					attach-parent=#tab-body
					attach=webview>
					<op-call function={{rn.ops.OpCompare.contains}}
						string={{event-object.sourceId}}
						query="titleadvisor.js" wait-result>
					</op-call>
					<op-if condition=op-call[result]
						condition-match=true
						condition-parent=op-int>
						<op-then>
							<op-set target-parent=main-app
								target='tabs-panel tab-head[tabid="{{tabid}}"]'
								attr=tab-title
								property
								value={{event-object.message}}
								template-origin>
							</op-set>
						</op-then>
					</op-if> 
				</op-int> 
			<!-- advise favicon !-->
				<op-int attach-execute call-complete on=consolemessage event-object=~attached
					attach-parent=#tab-body
					attach=webview>
					<op-call function={{rn.ops.OpCompare.contains}}
						string={{event-object.sourceId}}
						query="faviconadvisor.js" wait-result>
					</op-call>
					<op-if condition=op-call[result]
						condition-match=true
						condition-parent=op-int>
						<op-then>
							<op-set target-parent=main-app
								target='tabs-panel tab-head[tabid="{{tabid}}"]'
								attr=tab-favicon
								property
								value={{event-object.message}}
								template-origin>
							</op-set>
						</op-then>
					</op-if> 
				</op-int> 
			<!-- execute script to capture title on load commit !-->
				<op-int attach-execute on=loadcommit
					attach-parent=#tab-body
					attach=webview>
					<op-insert src="legacy/noop-vanguard.js" wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>
					<op-insert src="legacy/titleadvisor.js" wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>
				</op-int>
			<!-- open a new tab on new window create !-->
				<op-int attach-execute no-default call-complete on=newwindow event-object=~attached
					attach-parent=#tab-body
					attach=webview
					>
						<!-- incremement the new tab id counter !-->
							<op-set increment target-parent=tabs-panel
								attr=new-tabid
								value=1137>
							</op-set>
						<!-- create the receiving tab !-->
							<op-create _element=tab-head
									_attach-parent=tabs-panel
									tabid={{new-tabid}}
								>
							</op-create>	
							<op-create _element=tab-body
								_attach-parent=tabs-panel
								_make-debug
								await-incoming
								tabid={{new-tabid}}
							>
							</op-create>	
						<!-- indicate the tab is loading !-->
							<op-set target-parent=tabs-panel
								target=tab-head[tabid="{{new-tabid}}"]
								attr=tab-loading
								value=true
								>
							</op-set> 
						<!-- attach the new window to the receiving tab !-->
							<op-call function=attach_incoming target-parent=tabs-panel
								target='tab-body[tabid="{{new-tabid}}"]'
								event={{event-object}}
								target-this
								>
							</op-call>	
				</op-int>
			<!-- advise hovered url !-->
				<op-int attach-execute call-complete on=consolemessage event-object=~attached 
					attach-parent=#tab-body
					attach="webview">
					<op-call function={{rn.ops.OpCompare.contains}}
						string={{event-object.sourceId}}
						query="linkadvisor.js" wait-result>
					</op-call>
					<op-if condition=op-call[result]
						condition-match=true
						condition-parent=op-int>
						<op-then>
							<op-set target-parent=main-app
								target="omni-bar::shadow #omni_panel input"
								attr=value
								property	
								value={{event-object.message}}
								value-default={{location.href}}
								template-origin>
							</op-set> 
						</op-then>
					</op-if>
				</op-int>
			<!-- load data from page to sheet !-->
				<op-int attach-execute call-complete on=consolemessage event-object=~attached 
					attach-parent=#tab-body
					attach=webview>
					<op-call function={{rn.data_bind.load_extraction}} msg={{event-object}}
						project="msg"
						project-msg="level message line sourceId"
					></op-call>
				</op-int>
			<!-- logging !-->
				<op-int attach-execute call-complete on=consolemessage event-object=~attached 
					attach-parent=#tab-body
					attach=webview>
					<op-call function={{rn.log.json}} msg={{event-object}}
						project="msg"
						project-msg="level message line sourceId"
					></op-call> 
				</op-int>
			<!-- inject system scripts !-->
				<op-int attach-execute on=contentload
					attach-parent=#tab-body
					attach=webview>
					<op-insert src="legacy/noop-vanguard.js" wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>
					<op-insert src="legacy/titleadvisor.js" wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>
					<op-insert src="legacy/faviconadvisor.js" wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>
					<op-insert code="var zzzz=1;zzzz" wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>
					<op-insert src=legacy/stantech.js wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>
					<op-insert src=legacy/jq.js wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>
          <!-- removing proprietary algorithms
					<op-insert src=legacy/thesystem.js wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>!-->
          <!-- removing proprietary algorithms
					<op-insert src=legacy/reveal.js wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>!-->
					<op-insert src=legacy/dfa.js wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>
          <!-- removing proprietary algorithms
					<op-insert src=legacy/slate.js wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-insert>!-->
					<op-insert src=legacy/linkadvisor.js wait-result
						attach-parent=#tab-body
						attach=webview>
					</op-ins ert>
				</op-int> 
			<!-- handle permission requests !-->
				<op-int attach-execute call-complete no-default on=permissionrequest event-object=~attached
					attach-parent=#tab-body
					attach=webview
					>
					<op-if call-complete condition-parent=op-int condition={{event-object.permission}}
						condition-match="download"
						property=condition
						>
						<op-then>
							<op-call function=allow 
								target={{event-object.request}}
								_property=target
								target-this
								>
							</op-call>
						</op-then>
						<op-else>
							<op-call function=deny
								target={{event-object.request}}
								_property=target
								target-this
								>
							</op-call>
						</op-else>
					</op-if>
				</op-int>
		</op-int>
	</div>
</template>
