<template>
	<style>
		@import url("component/style.css");
		@import url("component/logo-logo/style.css");
	</style>
	<div id=logo-box class=>
		<div class="panel  rot30">
			<div class="shape blue"></div>
		</div>
		<div class="panel  rot210 fliph">
			<div class="shape yellow"></div>
		</div>
		<div class="panel  rot90">
			<div class="shape green"></div>
		</div>
		<div class="panel  rot90 fliph">
			<div class="shape red"></div>
		</div>
		<div class="big panel  upleft">
			<div class="shape circle white">
			</div>
		</div>
		<div class="triangle-parent  downleft">
			<div class=triangle></div>
		</div>
	</div>
</template>
