		#centering {
			width:100%;
			height:100%;
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
		}
		#logo-box {
			position:relative;
			width:100%;
			height:100%;
			transform-origin:0% 0%;
			transform:translate(50%,50%);	
		}
		.debug {
			/*border:1px solid lime;*/
		}

 		/* color */
			.red {
				background-color:red;
			}
			.green {
				background-color:lime;
			}
			.blue {
				background-color:rgb(102,0,255);
			}
			.yellow {
				background-color:yellow;
			}
			.white {
				background-color:white;
			}

		/* shaping */
			.panel {
				position:absolute;
				transform-origin:0% 0%;
				padding:0;
				border:0;
				margin:0;
				width:61.8%;
				height:30.9%;
				background:transparent;
			}
			.big {
				width:61.8%;
				height:61.8%;
			}
			.shape {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				-webkit-clip-path: polygon(28.85% 100%, 0% 0%, 71.15% 0%, 100% 100%);
				/*-webkit-filter: grayscale(100%);*/
				/*background:rgb(111,111,111);*/
				background:#18ffff;
			}
			.triangle {
				display:none;
				width:0;
				height:0;
				border-style:solid;
				border-width:0 9vmin 5.193vmin 9vmin;
				border-color: transparent transparent rgba(80,80,80,0.9) transparent;
			}
			.triangle-parent {
				width:18vmin;
				transform-origin:0% 0%;
			}

		/* positioning */
			.rot90 {
				transform:rotate(90.00deg);
			}
			.rot90.fliph {
				transform:rotate(90.00deg) scaleX(-1.000) translate(calc(-100.0%), calc(-100.0% + 1px)); 
			}	
			.rot30 {
				transform:rotate(-30.00deg) translate(-2px,0);
			}
			.rot210.fliph {
				transform:rotate(210.0deg) scaleY(-1.000) translate(-1px,0);
			}
			.circle {
				-webkit-clip-path:circle(43.97% at 50.00% 50.00%);
			}
			.upleft {
				transform-origin:0% 0%;
				transform:translate(-50%,-117.6%);
			}
			.downleft {
				transform:translate(-50%,117.6%);
			}

:host {
	position:relative;
	width:11.37vmin;
	height:11.37vmin;				
	padding:3vmin;
	margin:9vmin;
	overflow:visible;
}
