/* test colors */
  :root {
    background: transparent;
  }
  body {
    background: transparent;
  }
  #component {
    background: transparent;
    color: black;
    border: 0;
  }
  iframe[name^="feature/"] {
    border: 1px solid grey;
  }
