/* layout */
  iframe {
    padding: 0;
    margin: 0;
  }   
  h1,h2,h3 {
    margin: 0.25em 0;
  }
  :root {
    font-size: 80%;
  }
  input {
    border: 1px solid gray;
  }
  input, textarea, select {
    width:12em;
    box-sizing:border-box;
    padding: 0.25em;
  }
  label {
    width: 12ch;
    height: 4ex;
  }
  input[type="radio"] {
    width: min-content;
  }
  input[type="radio"] + label {
  }
  li, form, #component {
    width: -webkit-min-content;
    width: -moz-min-content; /* for firefox */
    width: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  form[fit], #component[fit] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
  }
  form, #component {
    padding: 0;
    margin: 0 auto;
  }
  label.explainer {
    display: none;
  }
  dd {
    padding: 0.25rem;
    margin-left: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  dt, summary, label {
    -webkit-user-select: none;  
  } 
  dd label {
    margin-right: 1.5rem;
  }
  dd input {
    align-self: flex-start;
  }
  textarea, input {
    padding: 0.2rem 0.5rem 0.3rem;
  }
  ul[name="models"] {
    -webkit-margin-before: 0;
    -webkit-padding-start:0;
  }
  ul[name="models"] > li {
    list-style-type: none;
  }
  ol[horizontal] li {
    display: inline-block; 
    list-style-type: none;
  }
  li[input-label-unit-horizontal] {
    text-align: left;
    margin: 0.5rem;
  }
  li[input-label-unit-horizontal] label {
    margin: 0;
  }
  summary {
    cursor: pointer;
  }
