/* layout */
  :root, body {
    /* these settings make it easy to calculate the size of the embedding tag */
    padding:0;
    margin:0;
    border:0;
  }
  #component {
    padding: 0;
    margin: 0 auto;
  }
  #component:not( scrollable ) {
    overflow: none;
  }
  dl, ol, ul {
    margin: 0;
  }
  iframe {
    display: inline-block;
    width:40%;
    height:33%;
    margin:0.25em;
    vertical-align: top;
    border:0;
  }
  iframe:not(.js-active) {
    min-width: 20em;
    min-height: 10em;
  }
  textarea {
    resize: vertical;
  }
/* type annotations */
  .type {
    display: none;
  }
/* layout two screen sizes screen */
  /* details */
    /*
     iframes basically just layout like cards that can tile across the screen 
     if there is sufficient width
     and down the screen 
    */
  @media ( min-width: 600px ) {
    iframe {
      margin: 0.25em;
    }
  }
  @media ( max-width: 599px ) {
    *{}
    #component {
      text-align: center;
    }
    #component > * {
      text-align: left;
    }
    iframe {
      margin: 0.25em auto;
    }
  }
/* fonts */
  :root {
    font-family: Tahoma, Geneva;
    font-family: "Trebuchet MS", Helvetica;
  }
  textarea, input, select, option, label, summary {
    font-family: inherit;
  }
  label, summary {
    font-size: 0.8rem;
  }
