/* test colors */
  :root {
    background: transparent;
  }
  body {
    background: transparent;
  }
  #component {
    background: transparent;
    color: black;
    border: 0;
  }
  iframe[name^="feature/"], input, select, textarea {
    border: 1px solid rgba( 128, 128, 128, 0.5);
  }
