/* test colors */
  :root {
    background: transparent;
  }
  body {
    background: transparent;
  }
  #component {
    background: transparent;
    color: black;
    border: 1px solid transparent;
  }
  iframe[name^="feature/"] {
    background: rgba( 0, 0, 150, 0.5 );
  }
