main, input, label, button {
		box-sizing:border-box;
}

main#container {
	display:flex;
	width:100%;
}

input {
	flex:1;
	order:2;
}

label, button {
	border-width:1px;
	border-style:solid;
	box-sizing:border-box;
	color:inherit;	
	border-color:inherit;
	padding:0.25em;
	font:inherit;
	flex:0 0 auto;
}

label {
	order:1;
}

button {
	order:3;
}

/* checkbox style */
	:host([type=checkbox]) input {
		opacity:0;
		width:0;
		height:0;
	}
	
	input:checked + label::after {
		content:"\f00c";
		color:rgb(255,0,127);
		background:inherit;	
		font-family:"FontAwesome";
	}

/* button styles */
	button {
		background:inherit;
	}
	button:active, button:focus {
		text-decoration:underline;	
		outline:none;
	}

/* input styles */
	input {
		background:inherit;
		font:inherit;
		color:inherit;
		border:inherit;
		border-bottom-width:1px;
		border-bottom-style:solid;
		border-left:1px solid transparent;
		border-right:1px solid transparent;	
		color:rgb(255,0,127);
		text-shadow: rgb(255,0,127) 0 1px 1px;
		padding:0 0.5em;
	}

	input:active, input:focus {
		outline:none;
		border-left-color:inherit;
		border-right-color:inherit;
	}

	input:active + label, input:focus + label {
		text-decoration:underline;
	}

	input::-webkit-input-placeholder {
		color:#18ffff;
		text-shadow:none;
	}


/* host styles */
	:host {
		display:flex;
		width:100%;
		padding-bottom:0.5em;
	}
	:host([type=submit]) input, :host([type=submit]:not([icon])) label {
		display:none;
	}

	:host([type=submit]) {
		width:auto;
	}

	:host([type=submit][icon]) {
		flex:1 0 auto;
	}
	:host([type=submit][icon]) label {
		border-right:none;	
	}
	:host([type=submit][icon]) button {
		border-left:none;
	}

	:host(:not([imperative]):not([type=submit])) button {
		display:none;
	}
