
:host {
	border:0;
	width:auto;
	height:auto;
	margin:0;
	font-size:0;
	flex-shrink:0;
}

:host([horizontal]) {
	padding:0 8px;
}

:host([push-left]) {
	width:2.785%;
	height:1px;
	flex-shrink:10;
	border:1px solid transparent;
}
