:host {
	position:absolute;
	display:inline-flex;
	align-items:center;
	justify-content:flex-start;
	height:22px;
	width:-webkit-max-content;
	max-width:85vw;
	font-size:0.85rem;
	bottom:0;
	left:0;
	box-sizing:content-box;
	color:inherit;
	background:inherit;
	background:rgba(13,71,161,0.67);
}

:host(:hover) {
	opacity:0;
}

#advisory {
	position:relative;
	display:inline-flex;
	flex:1 0 auto;
	width:100%;
	max-width:100%;
	box-sizing:border-box;
}

#advice {
	box-sizing:border-box;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

