<style style="display:none;">
	.qwontical-ui-container {
		z-index:3000000000 ;
		text-align:center ;
		margin:0 auto ;
		padding-top:1vmin;
		padding-bottom:1vmin;
		position:fixed ;
		width:68vw ;
		min-height:68vmin ;
		height:auto;
		top:15vh;
		left:16vw ;
		/*background:rgb(50,75,85) ;*/
		background:rgb(50,200,250);
		color:rgb(242,253,208) ;
		font-family:verdana ;
		font-size:2vmin ;
		overflow:hidden ;
	}		
	.qwontical-ui-container > .nav-bar {
		text-align:left;
		border:0 ;
		margin:0 auto ;
		position:relative ;
		width:100% ;
		font-size:1vmin ;
		height:auto ;
		background:transparent ;	
	}
	.qwontical-ui-container .zdisabled, .qwontical-ui-container .zdisabled a {
		background : rgba(151,151,151,0.8) !important;
		cursor : not-allowed !important;
		color : black !important;
	}
	.qwontical-ui-container > .nav-bar > .nav-item {
		border:0 ;
		margin:0 auto ;
		margin-left:1vmin;
		display:inline-block ;
		text-align: center ;
		background:transparent ;	
		font-size:2vmin ;
		padding:2vmin ;
		width:21vmin ;
		height:auto ;
		-webkit-box-sizing: border-box ;
		box-sizing:border-box ;
		overflow:hidden ;
		text-overflow:ellipsis ;
	}
	.qwontical-ui-container > .nav-bar > .nav-item:hover {
		background:rgba(0,255,0,0.5) ;
		cursor:pointer ;
	}
	.qwontical-ui-container .creator {
		margin:0 auto;
		width:auto;
		background:lime;
		text-align:right;
		margin-top:1vmin;
		margin-right:1vmin;
		margin-left:1vmin;
	}
	.qwontical-ui-container .undo {
		background-color:orange;
	}
	.qwontical-ui-container > .content-area {
		clear:both;
		cursor:text ;
		text-align:left ;
		-webkit-box-sizing: border-box ;
		box-sizing:border-box ;
		font-size:4vmin ;
		margin:1vmin ;
		height:47.8vmin ;
		border:3px solid rgb(242,253,208) ;
		overflow:auto ;
		color:black ;
		background:white ;
	}
	.qwontical-ui-container > .content-area .mutate {
		font-size:inherit;
	}
	.qwontical-ui-container > .content-area .name {
		font-style:italic;	

	}
	.qwontical-ui-container > .content-area ul {
		margin-left:12vmin;
	}
	.qwontical-ui-container > .content-area li {
		padding-top:4vmin;
	}
	.qwontical-ui-container > .content-area hr {
		margin:2.5vmin;
	}
	.qwontical-ui-container > .content-area .type {
		padding-left:4vmin;
	}
	.qwontical-ui-container > .content-area .value {
		padding-left:5vmin;
	}
	.qwontical-ui-container > .content-area .summary > .linknext {
		font-family:"Courier New", Courier, monospace;
		color: blue;
		text-decoration:none;
	}
	.qwontical-ui-container > .content-area .summary > .linknext:hover {
		background:#40b3df;
		color:white;
	}
	.qwontical-ui-container > .content-area .headerize {
		font-size:4.5vmin ;
		font-weight:bold ;
	}
	.qwontical-ui-container .half {
		max-width:50%;
	}
	.qwontical-ui-container > .do-bar {
		text-align:right ;
		border:0 ;
		margin:0 auto ;
		position:relative ;
		width:100% ;
		font-size:0 ;
		height:auto ;
		background:transparent ;	
	}
	.qwontical-ui-container > .do-bar > .do-item {
		text-align:center !important;
		vertical-align:top;
		border:0 ;
		display:inline-block !important;
		margin:0 auto ;
		margin-right:1vmin ;
		background:rgba(0,255,0,0.5) ;
		color:rgb(242,253,208) ;
		cursor:pointer ;	
		font-size:2.5vmin ;
		padding:1.5vmin ;
		width:21vmin;
		height:auto ;
		-webkit-box-sizing: border-box ;
		box-sizing:border-box ;
		overflow:hidden ;
		text-overflow:ellipsis ;
	}
	.qwontical-ui-container > .do-bar .data-status {
		background:rgb(151,151,151);
		cursor:default !important;
	}
	.qwontical-ui-container > .do-bar .data-status:active {
		background:rgb(151,151,151);	
	}
	.qwontical-ui-container > .do-bar > .not-saved {
		background:red;
	}
	.qwontical-ui-container > .do-bar > input.do-item:active {
		background:lime ;	
	}
</style>	
