:host {
	background:inherit;
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:50;
	border:none;
	margin:0;
	padding:0;
	border:1px solid transparent;
	border-color:inherit;
	box-shadow:-5px 5px 0px 0px;
}

:host([solid]) {
	background:#0d47a1;
}

:host([scroll]) {
	overflow:hidden;
	max-height:30vh;
}

:host([scroll])::-webkit-scrollbar {
	width:3px;
	height:3px;
}

:host([scroll])::-webkit-scrollbar-thumb, :host([scroll])::-webkit-scrollbar-corner {
	background:#18ffff;
}

:host([scroll]:hover) {
	overflow:auto;
}

:host([curved]) {
	border-radius:5px;
}

:host([active]) {
	display:block;
}

:host([flex][active]) {
	display:flex;
}

:host([col]) {
	flex-direction:column;
}

:host([row]) {
	flex-direction:row;
}

:host([hud]) {
	min-width:150px;
	height:100%;
	max-height:49vh;
	overflow:hidden;
}

:host([broad]) {
	width:60vw;
	height:49vh;
	max-height:90vh;
	max-width:100vw;
}

:host([screen]) {
	background:transparent;
}

