#chrome-bar {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:flex-start;

	margin-top:-1px;
	background:transparent;
	border:none;
	padding:0;
	box-sizing:border-box;
}

#app-title {
	width:auto;
	text-align:center;
	font-size:12px;
	line-height:9px;
}

#chrome-bar-end {
	flex-shrink:1000;
	width:52px;
	height:22px;
}

:host {
	display:block;
	height:16px;
	width:100%;
}

