<template>
	<!-- things !-->
		<use-a name=sheet-cell></use-a>
		<use-a name=sheet-app></use-a>
		<use-a name=click-reveal></use-a>
		<use-a name=click-toggle></use-a>
		<use-a name=input-addon></use-a>
		<use-a name=float-panel></use-a>
		<use-a name=search-bar></use-a>
		<use-a name=app-let></use-a>
		<use-a name=main-app></use-a>
		<use-a name=field-app></use-a>
		<use-a name=tag-app></use-a>
		<use-a name=search-app></use-a>
		<use-a name=build-app></use-a>
		<use-a name=map-app></use-a>
		<use-a name=package-app></use-a>
		<use-a name=publish-app></use-a>
		<use-a name=list-item></use-a>
		<use-a name=progress-bar></use-a>
		<use-a name=logo-logo></use-a>
		<use-a name=splash-page></use-a>	
		<use-a name=do-tool></use-a>	
		<use-a name=chrome-buttons></use-a>	
		<use-a name=tab-head></use-a>	
		<use-a name=tab-body></use-a>	
		<use-a name=omni-bar></use-a>	
		<use-a name=tabs-bar></use-a>	
		<use-a name=tabs-panel></use-a>	
		<use-a name=chrome-bar></use-a>	
		<use-a name=tool-bar></use-a>	
		<use-a name=tool-set></use-a>
		<use-a name=view-tools></use-a>
		<use-a name=core-tools></use-a>
		<use-a name=user-tools></use-a>
		<use-a name=link-advisor></use-a>
		<use-a name=modal-box></use-a>
	<!-- ops !-->
		<use-op code=if></use-op>
		<use-op code=then></use-op>
		<use-op code=else></use-op>
		<use-op code=int></use-op>
		<use-op code=mv></use-op>
		<use-op code=call></use-op>
		<use-op code=del></use-op>
		<use-op code=set></use-op>
		<use-op code=loop></use-op>
		<use-op code=restyle></use-op>
		<use-op code=create></use-op>
		<use-op code=insert></use-op>
		<use-op code=fun></use-op>
		<use-op code=remove></use-op>
	<!-- unimplemented ops !-->
		<use-op code=switch></use-op>
		<use-op code=compare></use-op>
		<use-op code=compute></use-op>
</template>
