<template>
	<style>
		@import url("component/style.css");
		@import url("component/tabs-bar/style.css");
	</style>
	<div id=tabs-bar> 
		<content select=tab-head></content>
		<do-tool id=new_tab square flush icon="plus" class="small">
			<op-int call-complete on=click attach-parent=do-tool event-object=~attached>
				<!-- update the new tabid !-->
					<op-set increment target-parent=tabs-panel
						attr=new-tabid
						value=1137>
					</op-set>
				<!-- create the tab head and tab body !-->
					<op-create _element=tab-head
						_attach-parent=tabs-panel
						tabid={{new-tabid}}
					>
					</op-create>	
					<op-create _element=tab-body
						_attach-parent=tabs-panel
						tabid={{new-tabid}}
					>
					</op-create>	
				<!-- make the tab head and tab body the active ones !-->
					<op-mv create-ok remove from-parent=tabs-panel 
						from=tab-body[active][active]
						to-parent=tabs-panel
						to='tab-body[tabid="{{new-tabid}}"][active]'
					>
					</op-mv>
					<op-mv create-ok remove from-parent=tabs-panel 
						from=tab-head[active][active]
						to-parent=tabs-panel
						to='tab-head[tabid="{{new-tabid}}"][active]'
					>
					</op-mv>
				<op-mv delay=1000 to-parent=main-app to="omni-bar::shadow #omni_input[value]" property=to
					from-parent=main-app from="tab-body[active]::shadow webview[src]"></op-mv>
			</op-int>
		</do-tool>
	</div>
</template>
